*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", serif;
    font-style: normal;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header,
section {
    width: 100%;
    max-width: 1600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
    padding: 12.5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

img {
    width: 100%;
    height: 100%;
}

.heading {
    font-size: 44px;
    font-weight: 700;
    line-height: 1.5;
    color: #A97A1F;
}

.para-heading {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.5;
}

.para {
    font-size: 18px;
    font-weight: 500;
    color: gray;
    line-height: 1.25;
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 12.5px;
}

nav {
    width: 100%;
    padding: 5px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.s-c1s1 {
    width: 100px;
}

.s-c1s2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.s-c1s2s1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.nav_btn {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

.s-c1s2s2 {
    display: none;
    cursor: pointer;
    width: 40px;
}

.s-c1s3 {
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -300px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease;
    z-index: 100;
    padding: 20px;
}

.s-c1s3s1 {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 25px;
}

.close-btn {
    width: 25px;
    cursor: pointer;
}

.s-c1s3s2 {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#scroll-button {
    width: 50px;
    opacity: 0.8;
    position: absolute;
    top: 80%;
    left: 95%;
    cursor: pointer;
}

#scroll-button:hover {
    opacity: 1;
}

/* Section 1 */
#Overview {
    padding: 50px 0px;
}

.s1-c {
    width: 95%;
    align-self: flex-end;
}

.s1-c2s {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
}

.s1-c2ss1 {
    width: 100%;
}

.s1-c2ss2 {
    width: 100%;
}


/* Section2 */
#Amenities {
    padding: 50px 0px;
    background-color: #FCF0D8;
}

.s2-c1 {
    width: 90%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.s2-c2 {
    width: 90%;
}

.s2-c1ss2 {
    width: 100%;
}

.swiper {
    width: 90%;
    max-width: 1440px;
    height: 100%;
    max-height: 500px;
    margin: auto;
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    width: 100%;
    overflow: hidden;
}

.s2-c2s {
    width: 80%;
    position: relative;
    left: 50px;
    font-size: 16px;
    background: #fff;
    padding: 12.5px;
    padding-bottom: 10px;
}

.s2-c2ss {
    margin-bottom: 2.5px;
}

.swiper-slide h3 {
    display: none;
}

.swiper-slide-active {
    width: 100px;
    padding-left: 0px;
}

.swiper-slide-active .s2-c2s {
    width: 100%;
    height: 100%;
    padding: 0px;
    left: 0px;
}

.swiper-slide-active .s2-c2ss {
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.swiper-slide-active h3 {
    display: block;
    position: absolute;
    top: 85%;
    left: 10px;
    color: #fff;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
}

.swiper-slide-active span {
    display: none;
}

:root {
    --swiper-navigation-top-offset: 95%;
    --swiper-navigation-sides-offset: 45%;
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: var(--swiper-navigation-top-offset, 50%);
    width: calc(var(--swiper-navigation-size, 44px) / 44 * 27);
    height: var(--swiper-navigation-size, 44px);
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
}

.swiper-button-prev.swiper-button-hidden,
.swiper-button-next.swiper-button-hidden {
    opacity: 0;
    cursor: auto;
    pointer-events: none;
}

.swiper-navigation-disabled .swiper-button-prev,
.swiper-navigation-disabled .swiper-button-next {
    display: none !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    content: '';
    display: none;
}

.swiper-button-prev {
    background: url('./asset/prev.svg') no-repeat center;
    background-size: contain;
}

.swiper-button-next {
    background: url('./asset/next.svg') no-repeat center;
    background-size: contain;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, 10px);
    left: auto;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset, 10px);
    right: auto;
}

/*Section 3 */
#Specifications {
    padding: 50px 0px;
}

.s3-c1 {
    width: 90%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.s3-c1s2 {
    gap: 0px;
    margin-bottom: 25px;
}

.s3-c2 {
    width: 90%;
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}

.s3-c2s {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px 25px 50px 25px;
    background-color: #EEEEEE;
}

.s3-c2s:hover {
    background: linear-gradient(to bottom, #fcd46a, #b17400);
    color: #333;
}

.s3-c2s:hover h3 {
    color: #333;
}

.s3-c2s1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
}

h3 {
    color: #A97A1F;
    font-size: 22px;
    font-weight: 600;
}

ul {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;
    font-size: 16px;
}

/* Section 4 */
#Floor-Plans {
    padding: 50px 0px;
}

.s4-c1 {
    width: 90%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
}

.s4-c1s2 {
    gap: 0px;
    margin-bottom: 25px;
}

.s4-c2 {
    width: 90%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.s4-c2s1 {
    display: flex;
    gap: 0px;
}

.s4-btn {
    width: 150px;
    padding: 15px;
    font-size: 20px;
    background-color: transparent;
    border: 1px #D8D9DA solid;
}

.s4-btn.active {
    background: linear-gradient(to bottom, #fcd46a, #b17400);
    color: white;
}

.s4-c2s2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.s4-ssc {
    border: 1px #D8D9DA solid;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.s4-sssc {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
    text-align: center;
    background-color: #fcd46a;
}

.s4-c2s3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.s4-c2s2,
.s4-c2s3 {
    display: none;
    /* Hide by default */
}

.s4-c2s2.active {
    display: flex;
    /* Show active section */
}

.s4-c2s3.active {
    display: flex;
    /* Show active section */
}

/* section 5 */
#Location-Map {
    padding: 50px 0px;
}

.s5-c1 {
    width: 90%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
}

.s5-c1s2 {
    gap: 0px;
    margin-bottom: 25px;
}

.s5-c1s2s1 {
    margin-bottom: 0px;
}

.s5-c2 {
    width: 90%;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}

.s5-c2s1 {
    width: 100%;
    min-width: 550px;
    height: 100%;
}

.s5-c2s2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.s5-c2s2s {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #EEEEEE;
    font-size: 18px;
    font-weight: 500;
    transition: background 0.3s ease;
}

.s5-c2s2ss {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.s5-c2s2sss {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.s5-c2s2ssss {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion-btn {
    width: 25px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.accordion-content {
    display: none;
    flex-direction: column;
    justify-self: flex-start;
    gap: 12.5px;
    padding: 20px;
    padding-bottom: 0px;
    margin-top: 12.5px;
    border-top: #000000 1.5px solid;
}

.accordion-btn img {
    transform: rotate(0deg);
    transition: transform 0.3s ease, background 0.3s ease;
}

.accordion-btn img.rotate {
    transform: rotate(180deg);
}

/*Section 6*/
#About-Developer {
    padding: 50px 0px;
}

.s6-c1 {
    margin-bottom: 25px;
    align-self: center;
}

.s6-c2 {
    width: 150px;
}

/*Section 7*/
#Enquire-Now {
    padding: 50px 0px;
    background: linear-gradient(to bottom, #fcd46a, #b17400);
    gap: 25px;
    color: white;
}

.s7-c1 {
    color: white;
}

.s7-c2 {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    gap: 37.5px
}

.s7-c2s1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}

input {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    border: none;
    border-bottom: 2px solid white;
    border-radius: 2px 2px 0px 0px;
    color: white;
    padding: 12.5px 12.5px 6.25px 12.5px;
    font-size: 16px;
}

input::placeholder {
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.error {
    color: red;
    font-size: 14px;
    display: none;
    margin-left: 10px;
}

.s7-c2s1s {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2.5px;
}

.s7-c2s2 {
    align-self: center;
    width: 150px;
    padding: 12.5px;
    background-color: white;
    border-radius: 2px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

b {
    font-size: 16px;
}

.s7-c4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.s7-s4c {
    width: 45px;
}


@media (max-width: 1150px) {
    .heading {
        font-size: 32px;
    }

    .para-heading {
        font-size: 22px;
    }

    .para {
        font-size: 16px;
    }

    nav {
        width: 100%;
        padding: 5px 25px;
    }

    .s-c1s2s1 {
        display: none;
    }

    .s-c1s2s2 {
        display: block;
    }

    #scroll-button {
        display: none;
    }

    /* Section 1 */
    .s1-c2s {
        gap: 37.5px;
    }

    /*section2*/
    .swiper-slide span {
        font-size: 14px;
        line-height: 1;
    }

    .swiper-slide-active h3 {
        position: absolute;
        left: 10px;
        font-size: 16px;
    }

    /*Section 3 */
    .s3-c2 {
        grid-column-gap: 12.5px;
        grid-row-gap: 12.5px;
    }

    .s3-c2s {
        padding: 20px;
    }

    .s3-c2s1 {
        width: 50px;
        height: 50px;
    }

    h3 {
        font-size: 18px;
    }

    ul {
        font-size: 14px;
    }

    /*section4*/
    .s4-btn {
        width: 125px;
        padding: 12.5px;
        font-size: 18px;
    }

    .s4-c2s2 {
        gap: 25px;
    }

    .s4-c2s3 {
        gap: 25px;
    }

    .s4-sssc {
        font-size: 18px;
        padding: 15px;
    }

    /* section 5 */
    .s5-c2 {
        gap: 25px;
    }

    .s5-c2s1 {
        width: 100%;
        min-width: 450px;
        height: 100%;
    }

    .s5-c2s2 {
        width: 90%;
    }

    .s5-c2s2s {
        padding: 12.5;
        font-size: 14px;
    }

    .s5-c2s2ssss {
        width: 30px;
    }

    .accordion-btn {
        width: 20px;
    }

    .accordion-content {
        gap: 10px;
        padding: 15px;
        padding-bottom: 0px;
    }

    /*Section 7*/
    .s7-c2s1 {
        gap: 12.5px;
    }

    input::placeholder {
        font-size: 16px;
    }

    b {
        font-size: 16px;
    }

    .s7-c2s2 {
        width: 125px;
        font-size: 16px;
    }

}

@media (max-width: 850px) {
    .heading {
        font-size: 28px;
    }

    .para-heading {
        font-size: 18px;
    }

    .para {
        font-size: 14px;
        gap: 7.5px;
    }

    footer {
        text-align: center;
        font-size: 10px;
        padding: 10px;
    }

    /*section1*/
    .s1-c2s {
        gap: 25px;
    }

    /*section2*/
    #Amenities {
        padding: 50px 0px;
    }

    .s2-c1s {
        width: 100%;
    }

    .swiper-slide-active h3 {
        position: absolute;
        left: 10px;
        font-size: 14px;
    }

    .swiper-slide span {
        font-size: 14px;
    }

    .swiper-slide-active h3 {
        font-size: 16px;
    }

    /*Section 3 */
    :root {
        --swiper-navigation-top-offset: 98%;
        --swiper-navigation-sides-offset: 44%;
    }

    .s3-c2 {
        width: 80%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .swiper-slide span {
        font-size: 14px;
    }

    .s3-c2s {
        padding: 20px;
    }

    .s3-c1s2 {
        gap: 0px;
        margin-bottom: 12.5px;
    }

    .s3-c2s {
        gap: 5px;
    }

    h3 {
        font-size: 16px;
    }

    /* Section 4 */
    .s4-c1s2 {
        gap: 0px;
        margin-bottom: 12.5px;
    }

    .s4-btn {
        font-size: 16px;
    }

    .s4-ssc {
        gap: 12.5px;
    }

    .s4-sssc {
        padding: 10px;
        font-size: 16px;
    }

    /* section 5 */
    #Location-Map {
        padding: 25px 0px;
    }

    .s5-c2 {
        flex-direction: column;
    }

    .s5-c2s1 {
        align-self: center;
        width: 100%;
        max-width: 450px;
    }

    .s5-c2s2 {
        align-self: center;
        width: 100%;
        max-width: 450px;
    }

    /*Section 6*/
    #About-Developer {
        padding: 25px 0px;
    }

    /*Section 7*/
    #Enquire-Now {
        padding: 25px 0px;
    }

    .s7-c2s1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 25px;
        grid-row-gap: 25px;
    }

    input::placeholder {
        font-size: 14px;
    }

    b {
        font-size: 14px;
    }

    .s7-c2s2 {
        width: 125px;
        font-size: 16px;
        padding: 8.75px;
    }

    .s7-s4c {
        width: 30px;
    }

}

@media (max-width: 650px) {
    .heading {
        font-size: 28px;
        line-height: 1.4;
    }

    .para-heading {
        font-size: 18px;
        line-height: 1.4;
    }

    .para {
        font-size: 12px;
        line-height: 1.2;
        gap: 6.25px;
    }

    nav {
        padding: 2.5px 12.5px;
    }

    .s-c1s1 {
        width: 62.25px;
    }

    .s-c1s2s2 {
        width: 20px;
    }

    .s-c1s3 {
        width: 250px;
    }

    .s-c1s3s1 {
        padding-bottom: 25px;
    }

    .close-btn {
        width: 12.5px;
    }

    .s-c1s3s2 {
        font-size: 14px;
        gap: 37.5px;
    }

    /*Section1*/
    #Overview {
        padding: 25px 25px;
    }

    .s1-c {
        width: 100%;
        align-self: center;
    }

    .s1-c1s {
        margin-bottom: 0px;
    }

    .s1-c2s {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .s1-c2ss2 {
        width: 100%;
        align-self: center;
    }

    /*section2*/
    :root {
        --swiper-navigation-top-offset: 98%;
        --swiper-navigation-sides-offset: 35%;
    }

    #Amenities {
        padding: 25px 0px;
    }

    .s2-c1 {
        margin-bottom: 12.5px;
        width: 90%;
    }

    .s2-c2s {
        left: 25px;
    }

    .s2-c1ss2 {
        width: 100%;
    }

    .s2-c2 {
        width: 75%;
    }

    .swiper-slide {
        margin-bottom: 30px;
    }


    .swiper-slide-active h3 {
        position: absolute;
        left: 10px;
    }

    /*Section 3 */
    #Specifications {
        padding: 25px 0px;
    }

    .s3-c1 {
        width: 90%;
    }

    .s3-c2 {
        width: 70%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .s3-c2s {
        padding: 15px;
    }

    .s3-c1s2 {
        gap: 0px;
    }

    h3 {
        font-size: 14px;
        font-weight: 600;
    }

    ul {
        font-size: 12px;
        gap: 2.5px;
    }

    /* Section 4 */
    #Floor-Plans {
        padding: 25px 0px;
    }

    .s4-c1s2 {
        gap: 0px;
        margin-bottom: 12.5px;
    }

    .s4-btn {
        width: 100px;
        padding: 12.5px;
        font-size: 14px;
    }

    .s4-ssc {
        gap: 12.5px;
    }

    .s4-sssc {
        font-size: 14px;
    }

    .s4-c2s2 {
        width: 90%;
        flex-direction: column;
    }

    .s4-c2s3 {
        width: 90%;
        flex-direction: column;
    }

    /*Section5*/
    .s5-c2s1 {
        width: 90%;
        max-width: 450px;
        min-width: 300px;
    }

    .s5-c2s2 {
        width: 90%;
        min-width: 300px;
        gap: 12.5px;
    }

    /*section 6*/
    .s6-c2 {
        width: 100px;
    }

    /*Section 7*/
    .s7-c2s1 {
        width: 80%;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    input {
        border-bottom: 1px solid white;
    }

    input::placeholder {
        font-size: 12px;
    }

    b {
        font-size: 12px;
    }

    .s7-c2s2 {
        width: 100px;
        padding: 6.25px;
        font-size: 14px;
    }

    .s7-c3,
    .s7-c4 {
        width: 90%;
        font-size: 12px;
        gap: 5px;
        text-align: center;
    }

}